.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  min-height: 900px;
}

.main-container {
  width: 70%;
  max-width: 1600px;
  border: 2px solid grey;
  border-radius: 25px;
  overflow: hidden;
}

.top-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem;
  animation: topbar-animation 0.8s linear forwards;
}

.nav-item {
  color: grey;
  text-transform: uppercase;
  padding-right: 2rem;
  font-size: 1rem;
}

.nav-item:hover {
  color: white;
}

.menu-burger {
  display: none;
}

.logo {
  font-family: "Abril Fatface", cursive;
  color: white;
  margin-top: -2.7rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0.8;
  padding-bottom: 1rem;
}

.logo__initials {
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
}

.logo__text {
  font-size: 0.8rem;
}

.icons-container {
  width: 6.5rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

.title,
.subtitle {
  text-align: center;
  font-weight: 600;
  line-height: 0.5;
  text-transform: uppercase;
  margin-top: 2rem;
  font-family: "Dela Gothic One", cursive;
  color: white;
  animation: title-animation 0.8s linear forwards;
}

.title {
  font-size: 3vw;
  color: white;
  letter-spacing: 2px;
}

.subtitle {
  letter-spacing: 10px;
  font-size: 2.4vw;
  color: black;
  font-weight: 600;
  text-shadow: -3px -3px 0 white, 3px -3px 0 white, -3px 3px 0 white,
    3px 3px 0 white;
  padding-bottom: 1.5rem;
  margin-top: 1rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: calc(33.33% - 0.3rem);
  height: 600px;
}

.product-image:nth-child(1) {
  animation: zoomIn 1.8s;
}

.product-image:nth-child(2) {
  animation: zoomIn 3.8s;
}

.product-image:nth-child(3) {
  animation: zoomIn 2.3s;
}


@media only screen and (max-width: 1380px) {
  .nav {
    display: none;
  }

  .main-container {
    width: 80%;
    margin: 2rem 0;
    height: fit-content;
  }

  .menu-burger {
    display: block;
    color: white;
  }

  .menu-links {
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 4rem 0 0 1.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    width: 100%;
  }

  .menu-link {
    text-align: left;
    font-size: 0.8rem;
    color: white;
    line-height: 0.5;
    padding: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Kanit", sans-serif;
    letter-spacing: 0.5rem;
    transition: all 0.3s ease-in-out;
  }

  .menu-link:hover {
    color: gray;
  }

  .subtitle {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
      1px 1px 0 white;
  }
}

@media only screen and (max-width: 920px) {
  .app {
    height: 100%;
  }

  .logo {
    margin-top: 2rem;
  }

  .gallery {
    flex-direction: column;
  }
  .product-image {
    width: 100%;
  }
}

@keyframes title-animation {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes topbar-animation {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    visibility: hidden;
    /* transform: translateX(10px); */
  }
  to {
    opacity: 1;
    visibility: visible;
    /* transform: translateX(0); */
  }
}
